<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Scrim</title>
    <link href="/app.css" rel="stylesheet" />
    <script
      src="https://unpkg.com/htmx.org@2.0.2"
      integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/pocketbase@0.21/dist/pocketbase.umd.min.js"></script>
  </head>
  <body>
    <%- slot %>
  </body>
</html>
